<tr>
  <td> <%= answer.answer %> </td>
  
  <% if answer.is_correct? %>
    <td>Correcta</td>
  <%else%>
    <td>Incorrecta</span></td>
  <%end%>
  <td>
    <%= link_to "Editar", edit_answer_path(answer), class: "btn btn-warning" %>
  </td>
</tr>
