<h1 class="text-center">Ranking</h1>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Jugador</th>
      <th>Puntaje</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game|%>
      <% if game.game_answers.count >= 5 %>
        <tr>
          <td><%= game.player%></td>
          <th> 
            <%= game.score%>
            <% if game.score > 1 %>
              <%= inline_svg_tag 'star.svg', with: 20, height: 20%>
            <% end %> 
          </th>
        </tr>
      <% end %>
    <%end%>
  </tbody>
</table>
  <div class="pagination">
    <%== pagy_bootstrap_nav(@pagy, link_extra: 'data-turbo-action="advance"') %>
  </div>
