<h3>Hola <%= @game.player %>!</h3>
<p>Estos son tus resultados:</p>
<p>Puntaje: <%= @game.score %> </p>
<hr>
<p>Respuestas correctas: <%= @game.correct_answers %> </p>
<p>Respuestas incorrectas: <%= @game.wrong_answers %> </p>