<h1>Categorias</h1>
<%= link_to "<i class='fui-plus'></i> Nueva categoria".html_safe, new_category_path, class: "btn btn-primary mt-2 mb-4" %>
<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>
